<div class="container">
  <div class="row">
    <div class="col-sm">
      <nav class="navbar navbar-expand-lg navbar-contact">
        <div class="navbar-toggler navbar-light" data-toggle="collapse" data-target="#navbarcontact" aria-controls="navbarcontact" aria-expanded="false" aria-label="Toggle navigation">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <i class="fas fa-phone me-3"></i>
            07 82 10 07 83
          </li>
        </ul>  
        </div>    
        <div class="collapse navbar-collapse" id="navbarcontact">      
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <i class="fas fa-phone me-3"></i>
              <a href="tel:0782100783">07 82 10 07 83</a>
            </li>            
            <li class="nav-item">
              <i class="fas fa-map-marker me-3"></i>
                2 Av. de la Butte aux Cailles, 64600 Anglet
            </li>
        </ul> 
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <i class="fas fa-envelope me-3"></i>
            <a href="mailto:nadia.pinard@yahoo.fr">nadia.pinard@yahoo.fr</a>
          </li>            
          <li class="nav-item">
            N° Adeli: 649311891
          </li>
      </ul> 
      </div>                   
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-menu">
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Présentation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/parcours">Mon parcours</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pratique et spécialisations
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/enfantouadolescent">Avec l’enfant ou l’adolescent</a>
                <a class="dropdown-item" href="/parentalite">Accompagner la parentalité</a>
                <a class="dropdown-item" href="/icv">Thérapeute ICV</a>
                <a class="dropdown-item" href="/psychotherapie">Psychothérapie d’orientation psychanalytique</a>                                                
                <a class="dropdown-item" href="/mbsr">Méditation de pleine conscience</a>
                <a class="dropdown-item" href="/act">Formation ACT</a>
                <a class="dropdown-item" href="/interculturelle">Spécialisation psychologie interculturelle</a>          
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ateliers">Ateliers enfants-ados à venir</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Le cabinet</a>
            </li>
          </ul>   
        </div>
      </nav>
    </div>
  </div>    
</div>
